<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/global.css">
    <link  rel = "stylesheet" type = "text/css" href = "/css/cadastro.css" />
    <link  rel = "stylesheet" type = "text/css" href = "/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <title>Admin - devHouse</title>
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main>
    <form  class = "form" action = "/salvar-produto"  method = "POST">
            <label>Nome do Produto</label>
            <input type ="text" name="nome" /></br>
            <label>Descrição do Produto</label>
            <input type ="text" name="descricao" /></br>
            <label>link Imagem do produto</label>
            <input type ="text" name="imagem" /></br>
            <button type = "submit">Enviar Cadastro</button></br>
        </form>
    </main>
</body>
</html>