<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  rel = "stylesheet" type = "text/css" href = "/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <title>DH News</title>
    
  </head>
  <body>
    <div>
        <div>
            <h1>DH News </h1>
        </div>
        <div>
            <h4>Postado em 02/03/2021 </h4>
        </div>
        <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
            Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div >
            <img class = "img" src = "/img/destaque.webp" alt = "">
        <div>
            <h2> It is a long established fact that a reader will be distracted </h2>
        </div>
        <div>
            <p> Vestibulum suscipit efficitur sodales. Integer eget magna odio. Fusce elit nunc, vulputate eu massa at, rutrum condimentum est.
                Aenean nec sodales felis. Duis viverra hendrerit ultricies. </p>
        </div>
        <div>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit </li>
                <li>Integer vehicula viverra nunc vitae dapibus. Maecenas quis mollis ante. </li>
                <li>Fusce dignissim volutpat mollis. Fusce facilisis dui in risus tempus blandit.</li>
            </ol>
        </div>
        <div>
            <p>Etiam a leo eleifend, sagittis nunc nec, ultrices ipsum. Maecenas lobortis dolor tincidunt eros efficitur, et pulvinar velit laoreet. 
            Proin egestas neque id pulvinar dapibus. Integer id magna cursus, molestie arcu at, iaculis quam. 
            Aliquam tempus viverra odio eu mollis. Aliquam non vehicula eros. Sed facilisis tincidunt fringilla. </p>
        </div>
        <div>
            <h2>hasellus quis diam maximus, accumsan tortor ac, condimentum nibh.</h2>
        </div>
        <div>
            <p>Pellentesque magna arcu, sollicitudin et tempus quis, semper a sem. Aenean pulvinar dolor porttitor, 
            ultrices urna nec, lacinia dolor. Phasellus suscipit quam orci, eu efficitur nunc pulvinar at. Ut interdum, 
            tortor sed bibendum ultricies, orci odio imperdiet purus, at gravida ligula elit mattis felis. Aenean sodales vulputate eros 
            eget interdum.</p>
        </div>
        <div>
            <p>Ut interdum dapibus mi eget mollis. Integer malesuada, mi quis ultrices vehicula, turpis leo pretium urna, 
            in rutrum nisl odio imperdiet justo. Sed bibendum eros vitae venenatis ornare. Donec et nulla eros. Proin tincidunt convallis ex. 
            Morbi vel ante at magna ullamcorper dictum vel ut risus. Phasellus id nibh vestibulum, rhoncus metus sit amet, dignissim dui. 
            Fusce rutrum mi eu lectus sollicitudin, a feugiat odio feugiat. Nulla luctus ipsum ut enim fermentum, sed pellentesque ex placerat.
            </p>
        </div>
        <div>
            <p>Nulla dui est, tincidunt ut iaculis vitae, ultricies in neque. 
            Suspendisse placerat tempus iaculis. Quisque sit amet urna ut nisi fermentum consectetur at in metus. 
            Mauris leo magna, blandit ac lobortis nec, condimentum nec odio. Duis nunc quam, ultrices ut viverra eu, bibendum quis orci. 
            Cras volutpat maximus ante, non viverra turpis pharetra lobortis. Vestibulum porttitor, libero sit amet dignissim feugiat, 
            purus neque commodo purus, eu sagittis magna quam eu neque. Pellentesque et lacus vitae mi tincidunt eleifend. Curabitur vitae 
            quam odio. Morbi gravida finibus dui vitae rhoncus.
            </p>
        </div>
    <div>
    <footer>
        <div class = "linha">
        </div>
        <div class = "rsociais">
            <img src = "/img/facebook.svg" />
            <img src = "/img/instagram.svg" />
            <img src = "/img/linkedin.svg" />
            <img src = "/img/youtube.svg" />

        </div>
    </footer>
  </body>
</html>