<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel = "stylesheet" type = "text/css" href = "/css/contato.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <title>Contato</title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
        <section class="sec-1 menu-ini">
            <div class="contato">
                <div class="ctt1">
                    <div>
                    <small><%= titulo %></small> <!--IMPRIMINDO O OBJETO TITULO-->
                    </div>
                    <div>
                        <P>Questions or concerns? just fill out from below and our suporte team will<br>
                            get back to you within 24 hours
                        </P>
                    </div>
                </div>
                <div class="cttForm">
                    <div class = "name">
                        <input type = "text" name = "fname" placeholder="First Name" />
                        <input type = text name = "lname" placeholder="Last Name" />
                    </div>
                    <div class = "name-2">
                        <input type = "number" name = "phone" placeholder="Phone Number" />
                    </div>
                    <div class = "select">
                        <div>
                            <select name = "services">
                                <option selected disabled>Select Service</option>
                                <option value = "site">Site</option>
                                <option value = "ecomerce">E-comerce</option>
                                <option value = "app">Aplicativo</option>
                            </select>
                        </div>
                        <div>
                            <button type = "submit">SUBMIT NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class = "sec-4">
            <div class = "d-p">
                <p>
                    Read to lauch <br>
                    your next website?
                </p>
            </div>
            <div class = "d-t">
                <div>
                    <button>Get in touch now</button>
                </div>
                <div>
                    <p>Or take a peek inside our designe studio </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class = "final">
            <div class = "f-d">
                <div>
                    <img src = "/img/logo.png" />
                </div>
                <div>
                    <p>
                    Digits is a website template built to work 
                    seamlesly with WordPress block editor to create 
                    beaultifully designed pages in minutes.
                    </p>
                </div>
            </div>
            <div class = "f-d2">
                <div class = "f-r">
                    Resources
                </div>
                <div class = "f-img">
                    <img src = "/img/facebook.svg" />
                    <img src = "/img/instagram.svg" />
                    <img src = "/img/linkedin.svg" />
                    <img src = "/img/youtube.svg" />
                </div>
                <div class = "f-d1">
                    Download Now
                </div>
                <div class = "f-d-2">
                    Documentation
                </div>
            </div>
        </div>
    </footer>
</body>
</html>