<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://github.com/vinnydeveloper/agencia-devhouse -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/global.css">
    <link  rel = "stylesheet" type = "text/css" href = "/css/home.css" />
    <title>devHOUSE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
        <section class = "sec-1">
            <article class = "d-sec-1">
                <article class = "title">
                    <h1>Good design meets <br>
                        great user experience
                    </h1>
                    <p class = "title-3">For everyone, from beginners to experts</p>
                </article>
                <article class = "botao">
                    <button class = "b-1">Buy Digits</button>
                    <button class = "b-2">See the Features</button>
                </article>
                <article class = "b-img">
                    <img src = "/img/banner.png"/>
                </article>
            </article>
        </section>
        <section>
            <div class = "s-title">
                <p>Whatever work you do, <br> we're able to help</p>
            </div> 
           <div class = "sec-2">
                <div class = "s-d1">
                    <div>
                    
                    </div>
                </div>
                <div class = "s-d2">
                    <div>
                        <p class = "p-title"> Design and Assets </p>
                        <p class = "conteudo">
                            Make your brand stand out with <br> pixel-perfect design crafted to perfection
                        </p>
                        <div class = "borda"></div>
                    </div>
                    <div>
                        <p class = "p-title">Easy Content</p>
                        <p class = "conteudo">
                            Import your demos or build pages<br> visually. Bonus: All images and <br>
                            illustrations included!
                        </p>
                        <div class = "borda"></div>
                    </div>
                    <div>
                        <p class = "p-title">Fast and Reliable</p>
                        <p class = "conteudo">
                            No heavy-weight plugins. No <br>
                            builders. No unneccesary file loading. <br>
                            Pure Wordpress
                        </p>
                    </div>
                </div>
            </div> 
        </section>
        <section class = "sec-3">
            <div class = "s-title-2">
                <p>
                    What others are saying
                </p>
            </div>
            <div class = "s-user">
                <div class = "d-detal">
                    <p id = "p">completely beautiful website and amazing suport! This is my second website 
                        from this autor and i love both of the sites so much and she has helped me 
                        so well when</p>
                    <img id = "img" src = "/img/user-1.png"/>
                    <p id = "p-1">Happy User</p>
                    <p id = "p-2">tempy.club</p>
                </div>
                <div class = "d-detal">
                    <p id = "p">
                        Really easy to use and customize. Ease to understand. Darinka helped me with 
                        my site! She answers very quickly, a good service! Thank you very much!
                    </p>
                    <img id = "img" src = "/img/user-2.png"/>
                    <p id = "p-1">Happy User</p>
                    <p id = "p-2">tempy.club</p>
                </div>
                <div class = "d-detal">
                    <p id = "p">
                        Really pleasing to look at! Documentation(including installation instructions) are 
                        clear and that is coming from a relatively new WordPress user.
                    </p>
                    <img id = "img" src = "/img/user-3.png"/>
                    <p id = "p-1">Happy User</p>
                    <p id = "p-2">tempy.club</p>
                </div>
            </div>
        </section>
        <section class = "sec-4">
            <div class = "d-p">
                <p>
                    Read to lauch <br>
                    your next website?
                </p>
            </div>
            <div class = "d-t">
                <div>
                    <button>Get in touch now</button>
                </div>
                <div>
                    <p>Or take a peek inside our designe studio </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class = "final">
            <div class = "f-d">
                <div>
                    <img src = "/img/logo.png" />
                </div>
                <div>
                    <p>
                    Digits is a website template built to work 
                    seamlesly with WordPress block editor to create 
                    beaultifully designed pages in minutes.
                    </p>
                </div>
            </div>
            <div class = "f-d2">
                <div class = "f-r">
                    Resources
                </div>
                <div class = "f-img">
                    <img src = "/img/facebook.svg" />
                    <img src = "/img/instagram.svg" />
                    <img src = "/img/linkedin.svg" />
                    <img src = "/img/youtube.svg" />
                </div>
                <div class = "f-d1">
                    Download Now
                </div>
                <div class = "f-d-2">
                    Documentation
                </div>
            </div>
        </div>
    </footer>
</body>
</html>