
.ctt{
    margin-left: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: blue;
    border:none;
    color:white;
}
.menu{
    display:flex;
    flex: 2;
    align-items: center;
}
.menu-ini{
    max-width: 1140px;
    height: 100px;
    margin: auto; /*DEIXA O CONTEUDO NO MEIO */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.active{
    margin-left: 20px;
}
.nav-menu ul{
    list-style:none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    
    
}
.nav-menu li{
    margin-right: 30px;
    font-size: 15px;
    font-weight: 400;
    color:#0000CD
}

.nav-menu li a{
    text-decoration: none;
}
.menu-1{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex:2;
}
.menu-1 p{
    align-self: center;
    font-weight: 500;
}

.d-sec-1{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 60px;
    font-size: 50px;
    text-align: center;
    color:#0000CD;
}
.title-3{
    margin-top: 20px;
    font-size: 17px;
    text-align: center;

}
.botao{
    display: flex;
    padding: 20px;
    flex:1;
    margin-top: 20px;
}
.b-1{
    margin-right: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: blue;
    border:none;
    color:white;
   
}
.b-2{
    margin-right: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    border:1px solid #ccc;
}
.b-img{
    text-align: center;
    margin-left: 100px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.sec-2{
    margin-top: -20px;
    background-image: url('../img/banner-2.png');
    display: flex;
    height: 600px;
    mask-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 200px 0px;
}
.s-d1{
    display: flex;
    flex: 1;
    justify-content: center;

}
.s-title{
 text-align: center;
 font-size: 30px;
 font-weight: 600;
 color:#0000CD;
}
.s-d2{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 14px;
    margin-right: 200px;
    margin-top: 30px;
    color:#0000CD;
}
.p-title{
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
}
.conteudo{
    padding-bottom: 20px;
}
.borda{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.sec-3{
    margin-bottom: 50px;
    margin-top: 30px;
}
.s-user{
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding: 20px;
    color:#0000CD;
}
.d-detal{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    margin-right: 30px;
    align-items: center;
    text-align: center;
}
#p{
    padding-bottom: 20px;
}
#img{
    padding-bottom: 20px;
}
#p-1{
    font-weight: 600;
}
.s-title-2{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color:#0000CD;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.sec-4{
    background-color:blue;
    display: flex;
    flex: 1;
    color:white;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
.d-p{
    font-size: 30px;
    font-weight: 600;
}
.d-t{
    text-align: center;
}
.d-t button{
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color:#0000CD;
}
.d-t p{
    font-size: 12px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.final{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.final img{
    width: 100px;
    margin-bottom: 10px;
}
.f-d{
    width: 200px;
    font-size: 12px;
    color:#0000CD;
}

.f-d2{
    font-size: 12px;
    color:#0000CD;
}
.f-img{
    display: flex;
    width: 30px;
    height: 30px;
}

.f-img img{
    margin-left: -60px;
    align-items: center;
}
.f-r{
    margin-bottom: 10px;
    font-weight: 600;
}
.f-d1{
    margin-bottom: 10px;
}
.f-d-2{
    margin-bottom: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media(max-width: 640px){
    h1{
        font-size: 40px;
        text-align: center;
    }
    .b-img{
        display: none;
        width: 150px;
    }
    .s-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .d-detal{
        margin-bottom: 15px;
    }
    
}